.dot {
  height: 300px;
  width: 300px;
  background-color: #3a1a1a;
  border-radius: 50%;
  display:flex;
}

.larger-0 {
  height:350px; 
  width:350px; 
}

.larger-1 {
  height:400px; 
  width:400px; 
}

.larger-2 {
  height:450px; 
  width:450px; 
}

.larger-3 {
  height:500px; 
  width:500px; 
}

.larger-4 {
  height:550px; 
  width:550px; 
}

.larger-5 {
  height:600px; 
  width:600px; 
}

.foodbowl {
  border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 4;
	width: 125px;
}